body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

td:first-child {
    padding-left: 20px;
}

td:last-child {
    padding-right: 20px;
}

.eye_btn {
    color: #71717a;
}

.eye_btn:hover {
    color: #60a5fa;
}

.detail_btn {
    color: #71717a;
}

.detail_btn:hover {
    color: #60a5fa;
}

/* Hero */
/* .hero{
    background-image: url(../img/SVGheaderBG.svg);
    height: 445px;
} */
.img-about {
    background: url(../img/red-sport-car-front-side-view-black-wheel-with-metallic-silver-color\ 1-Photoroom.png-Photoroom.png)
        white 50% / cover no-repeat;
    height: 400px;
    border-radius: 12px;
    border: 1px solid #893835;
}
.text-gradient {
    background: linear-gradient(180deg, #ff564f 0%, #a4120c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-car {
    background: linear-gradient(90deg, #893835 0%, #ff564f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient-about {
    background: linear-gradient(90deg, #000 0%, #444 100%);
}
.service {
    /* background: url(../img/white-sport-car-driving-highway.jpg);
    background-size: cover;
    background-position: center; */
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5) 0%,
            rgba(0, 0, 0, 0.5) 100%
        ),
        url(../img/white-sport-car-driving-highway.jpg), lightgray 50%;
    background-position: center;
    background-size: cover;
    height: 338px;
}
@media (max-width: 998.98px) {
    .service{
        height: 250px;
    }
}
@media (max-width: 767.98px) {
    .service{
        height: 200px;
    }
}
/* Product */
.item:hover img {
    transform: scale(1.1); /* Scale lên 110% khi hover */
}
/* Accordion */
.accordion-item{
    border-top: 1px solid #dcdde3;
}
.accordion-item:last-child {
    border-bottom: 1px solid #dcdde3;
  }
.accordion-header{
    padding: 24px 0;
    cursor: pointer;
}

.accordion-body{
    padding: 10px;
    display: none;
}
.accordion-item.active .accordion-header{
    color: rgb(48, 47, 47);
}
.toogle-icon .minus {
    display: none; 
}
.toogle-icon .minus i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Product-management */
.product-left{
    background:  linear-gradient(90deg, #893835 0%, #FF564F 100%);
}
.bg-product{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.52);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(13.800000190734863px);
}
#my-file-input::-webkit-file-upload-button {
    display: none;
 }
 #my-file-input{
    color:transparent
 }

 /* .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
}
.menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
} */
/* animation */

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.logos{
    overflow: hidden;
    white-space: nowrap;
}
.logos-slide:hover{
    animation-play-state: paused;
}
.logos-slide{
    display: inline-flex;
    animation: 20s slide infinite linear;
    
}
.logos-slide img{
    height: 100%;
    object-fit: cover;
    margin: 0 40px;
}